node_modules/
.DS_Store
.idea/**
/config/config.json
.idea/
.idea/.name
.idea/SC-GSA.iml
.idea/dictionaries/
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_setting.xml
Procfile
.idea/deployment.xml
.idea/scopes/
npm-debug.log



