<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St. Clair GSA</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
    <script src="../../public/js/bootstrap.js"></script>
    <script src="../../public/js/libs/jquery-2.1.4.min.js"></script>
</head>
<body>

<header>
    <div class="topTitle">
        <img src="../../public/img/logo.png" alt="GSA Logo" class="midAlign" />
        <h1> St Clair College's Gay-Straight Alliance</h1>
    </div>

    <ul class="nav nav-pills nav-justified">
        <!--role="presentation"-->
        <li class='active'><a href='/'><span>Home</span></a></li>
        <li><a href='../about.handlebars'><span>About Us</span></a></li>
        <li><a href='../contact.handlebars'><span>Contact US</span></a></li>
        <li><a href='../events.handlebars'><span>Events</span></a></li>
        <li><a href='../blog-new.handlebars.handlebars'><span>Blog</span></a></li>
        <li class='last'><a href='../resources.handlebars'><span>External Resources</span></a></li>
    </ul>
</header>

{{{body}}}

<footer>
    <div id="innerFoot">
        <a href="../about.handlebars">About Us</a> &bull; <a href="../contact.handlebars">Contact Us</a> &bull; <a href="../events.handlebars">Events</a> &bull; <a href="../blog-new.handlebars">Blog</a> &bull; <a href="../resources.handlebars">External Resources</a>
    </div>

    <span class="right">&copy; 2016 GSA</span>
    {{#if isAdmin}}
        <a href="/admin/logout">Log out</a>
    {{else}}
        <a href="/admin/login/google">Log in</a>
    {{/if}}
</footer>
</body>
</html>