<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St. Clair GSA</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/menustyles.css">
</head>
<body>

    <header>
        <div class="topTitle">
            <img src="/img/logo.png" alt="GSA Logo" class="midAlign" />
            St Clair College's Gay-Straight Alliance
        </div>


    <nav>
        <div id='cssmenu'>
          <ul>
              <li class='active'><a href='#'><span>Home</span></a></li>
              <li><a href='#'><span>About Us</span></a></li>
              <li><a href='#'><span>Contact US</span></a></li>
              <li><a href='#'><span>Events</span></a></li>
              <li><a href='#'><span>Blog</span></a></li>
              <li class='last'><a href='#'><span>External Resources</span></a></li>
          </ul>
        </div>
    </nav>

    </header>

    {{{body}}}


    <footer>
        <div id="innerFoot">

            About Us &bull; Contact Us &bull; Events &bull; Blog &bull; External Resources

        </div>
        <span class="right">&copy; 2016 GSA</span>
    </footer>

    <script src="/js/libs/jquery-2.1.4.min.js"></script>
    <script src="/js/libs/menuscript.js"></script>
</body>
</html>