<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St. Clair GSA</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    {{{body}}}
    <div id="footer">
        <p>&copy; 2016 GSA</p>
    </div>
    <script src="/js/libs/jquery-2.1.4.min.js"></script>
</body>
</html>