<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St. Clair GSA</title>
</head>
<body>
    <p>SC GSA</p>
    <script src="/js/libs/jquery-2.1.4.min.js"></script>
</body>
</html>