<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St. Clair GSA</title>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/menustyles.css">
    <script src="/js/libs/medium-editor.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/medium-editor.css">
    <link rel="stylesheet" type="text/css" href="/css/flat.min.css">
</head>
<body>

    <header>
        <div class="topTitle">
            <img src="/img/logo.png" alt="GSA Logo" class="midAlign" />
            <a href="/">St Clair College's Gay-Straight Alliance</a>
        </div>


    <nav>
        <div id='cssmenu'>
          <ul>
              <li class='active'><a href='/'><span>Home</span></a></li>
              <li><a href='/about'><span>About Us</span></a></li>
              <li><a href='/contact'><span>Contact US</span></a></li>
              <li><a href='/events'><span>Events</span></a></li>
              <li><a href='/blog'><span>Blog</span></a></li>
              <li class='last'><a href='/external-resources'><span>External Resources</span></a></li>
          </ul>
        </div>
    </nav>

    </header>

    {{{body}}}


    <footer>
        <div id="innerFoot">

            <a href="/about">About Us</a> &bull; <a href="/contact">Contact Us</a> &bull; <a href="/events">Events</a> &bull; <a href="/blog">Blog</a> &bull; <a href="/external-resources">External Resources</a>

        </div>
        <span class="right">&copy; 2016 GSA</span>
        {{#if isAdmin}}
            <a href="/admin/logout">Log out</a>
            <a href="/admin">Admin Panel</a>
        {{else}}
            <a href="/admin/login/google">Log in</a>
        {{/if}}
    </footer>

    <script src="/js/libs/jquery-2.1.4.min.js"></script>
    <script src="/js/libs/menuscript.js"></script>
    <script src="/js/blog-new.js"></script>


</body>
</html>