<h1>About Us</h1>
<p>Taal is die menslike vermoë vir die aanleer en gebruik van ingewikkelde sisteme van </p>
<p>kommunikasie, en 'n taal is enige spesifieke voorbeeld van so 'n sisteem. Die wetenskaplike bestudering van taal word linguistiek of taalkunde genoem.Ramings oor die aantal tale in die wêreld wissel   </p>

<div id="accordion">
    <div>Our Mission </div>
    <div>Our Constitution </div>
    <div>Our History </div>
    <div>Other Documents </div>
</div>