


<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>About Us</h1>
    </div>
</div>


<div class="row special text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi
    </p>
</div>


<div class="panel-group" id="accordion">
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Our Mission</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Our Constitution</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Our History</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Other Documents</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
</div>

