<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>Admin page</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <aside>
            <p>Admin.Dashboard</p>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">External Resources</a></li>
            </ul>

            <ul>
                <li><a href="blog/new">Add a new blog post</a></li>
            </ul>

        </aside>
    </div>
    <div class="col-md-6 col-md-offset-3">

    </div>
</div>