<script src="/js/libs/medium-editor.js"></script>
<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>Blog</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        {{#each posts}}
            <h2>{{{link dataValues.post_id '/blog/' dataValues.title}}}</h2>
            <div>{{{dataValues.content}}}</div>
        {{/each}}

    </div>
</div>
