<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>Blog</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <pre>{{posts}}</pre>
        {{#each posts}}
            <pre>{{dataValues}}</pre>
        {{/each}}

    </div>
</div>