<h1>Contact Us</h1>

<p>Feel free to contact us with suggestions, recommendations, questions,or comments!</p>
<p>We value your input and look forward to hearing from you!</p>

<p>Filling out this contact form will send your message to our general email address:</p>

<form>
    <input type="text" name="yourname" value="Your Name"><br>
    <input type="text" name="youremail" value="Your Email"><br>

    <textarea name="message" rows="20" cols="30">
        Write your message
    </textarea>
    <input type="submit" value="Send">
</form>

<div>
    <p>General:stclairgsa@gmail.com</p>
    <p>President:sccgsapresident@gmail.com</p>
    <p>Vice President:sccgsavicepresident@gmail.com</p>
    <p>Treasurer:sccgsatreasurer@gmail.com</p>
    <p>Secretary:sccgsasecretary@gmail.com</p>

</div>