

<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="row text-center">
    <p>Feel free to contact us with suggestions, recommendations, questions,or comments!</p>

    <p>We value your input and look forward to hearing from you!</p>

    <p>Filling out this contact form will send your message to our general email address:</p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Anonymous">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" rows="5" name="message" id="message"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 2%">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <a class="list-group-item" href="mailto:stclairgsa@gmail.com"><i class="fa fa-envelope fa-fw"></i> &nbsp;General: stclairgsa@gmail.com</a>
            <a class="list-group-item" href="mailto:sccgsapresident@gmail.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; President: sccgsapresident@gmail.com</a>
            <a class="list-group-item" href="mailto:sccgsavicepresident@gmail.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; Vice President: sccgsavicepresident@gmail.com</a>
            <a class="list-group-item" href="mailto:sccgsatreasurer@gmail.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; Treasurer: sccgsatreasurer@gmail.com</a>
            <a class="list-group-item" href="mailto:sccgsasecretary@gmail.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; Secretary: sccgsasecretary@gmail.com</a>
        </div>
    </div>
</div>



