





<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h2>St.Clair Gay-Straight Alliance</h2>
        <h2>St.Clair Gender-Sexuality Alliance</h2>
    </div>
</div>


<div class="row special text-center">
    <h3>Events</h3>
    For more information on our upcoming and past events, please visit our <a href="http://www.facebook.com/StClairCollegeGSA/" target="_blank">facebook</a> page.
</div>



<div class="row">
    <div class="col-md-4">
        <div class="text-muted quotes">
            <em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi"
            </em>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-muted quotes">
            <em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi"
            </em>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-muted quotes">
            <em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi"
            </em>
        </div>
    </div>
</div>