<div id="homeContainer">

<div id="mainArea">
    <img src="smiley.gif" alt="Smiley face" height="42" width="42">

    <h2>St.Clair Gay-Straight Alliance</h2>
    <h2>St.Clair Gender-Sexuality Alliance</h2>
    <div>
        Events For more information on our upcoming and past events, please visit our <a href="http://www.facebook.com">facebook</a> page.
         <img src="smiley.gif" alt="Smiley face" height="42" width="42">
    </div>
    <div><p> "kommunikasie, en 'n taal is enige spesifieke voorbeeld van so 'n sisteem. Die wetenskaplike bestudering van taal word linguistiek of taalkunde genoem. "</p> </div>
    <div><p> "kommunikasie, en 'n taal is enige spesifieke voorbeeld van so 'n sisteem. Die wetenskaplike bestudering van taal word linguistiek of taalkunde genoem."</p> </div>
    <div><p> "kommunikasie, en 'n taal is enige spesifieke voorbeeld van so 'n sisteem. Die wetenskaplike bestudering van taal word linguistiek of taalkunde genoem."</p> </div>
</div>

</div>