<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>External Resources</h1>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse1">
                    Local LGBT* Organizations</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>
                    Windsor Pride <br>
                    <a href="tel:519-973-4696">519-973-4696</a> <br>
                    <a href="http://www.windsorpride.com" target="_blank">www.windsorpride.com</a>
                </p>

                <p>
                    Windsor Pride Fest <br>
                    <a href="http://www.wepridefest.com" target="_blank">www.wepridefest.com</a>
                </p>

                <p>
                    Run for Rocky <br>
                    <a href="http://www.runforrocky.com" target="_blank">www.runforrocky.com</a>
                </p>

                <p>
                    Aids Committee of Windsor <br>
                    <a href="tel:519-973-0222">519-973-0222</a>
                </p>

                <p>
                    The University of Windsor’s Get REAL <br>
                    <a href="https://www.facebook.com/wegetreal" target="_blank">https://www.facebook.com/wegetreal</a> <br>
                    <a href="http://www.thegetrealmovement.com" target="_blank">www.thegetrealmovement.com</a>
                </p>

                <p>
                    The University of Windsor’s Out On Campus <br>
                    <a href="tel:519-253-3000">519-253-3000</a> ext.4093 <br>
                    <a href="mailto:ooc@uwindsor.ca">ooc@uwindsor.ca</a>
                </p>

                <p>
                    Windsor-Essex County Health Unit <br>
                    <a href="tel:519-258-2146">519-258-2146</a> <br>
                    <a href="http://www.wechc.org" target="_blank">www.wechc.org</a>
                </p>

                <p>
                    Teen Health Centre <br>
                    <a href="tel:519-253-8481">519-253-8481</a> <br>
                    <a href="http://www.wechc.org/teenhealth_home" target="_blank">www.wechc.org/teenhealth_home</a>
                </p>

                <p>
                    Windsor Youth Centre <br>
                    <a href="tel:226-674-0006">226-674-0006</a> <br>
                    <a href="http://www.thewindsoryouthcentre.org/" target="_blank">http://www.thewindsoryouthcentre.org/</a>
                </p>

                <p>
                    Family Service Windsor-Essex <br>
                    <a href="tel:519-966-5010">519-966-5010</a> <br>
                    <a href="http://www.fswe.ca" target="_blank">www.fswe.ca</a>
                </p>

                <p>
                    SAFE Windsor <br>
                    <a href="tel:519-253-8481">519-253-8481</a> ext. 248 <br>
                    <a href="http://www.safewindsor.com" target="_blank">www.safewindsor.com</a>
                </p>

                <p>
                    Metropolitan Community Church <br>
                    <a href="tel:519-977-6897">519-977-6897</a> <br>
                    <a href="http://www.mccwindsor.org" target="_blank">www.mccwindsor.org</a>
                </p>

                <p>
                    Windsor Family Health Team <br>
                    <a href="tel:519-250-5656">519-250-5656</a> <br>
                    <a href="http://www.windsorfht.ca" target="_blank">www.windsorfht.ca</a>
                </p>

               <p>
                   Windsor Regional Hospital <br>
                   <a href="tel:519-254-5577">519-254-5577</a> <br>
                   <a href="http://www.wrh.on.ca"  target="_blank">www.wrh.on.ca</a>
               </p>
                <br> <a class="close" onclick="closeAccord('#collapse1')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse2">
                    Support Numbers</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              
                    <p>Distress Centre Windsor-Essex<br>
                        <a href="tel:519-256-5000">519-256-5000</a>
                    </p>
                    <p>Mental Health Helpline<br>
                        <a href="tel:519-973-4435">519-973-4435</a>
                    </p>
                    <p>LGBT Youthline<br>
                        Phone: <a href="tel:1-800-268-9688">1-800-268-9688</a><br>
                        Text: <a href="tel:647-694-4275">647-694-4275</a><br>
                        <a href="http://www.youthline.ca" target="_blank">www.youthline.ca</a>
                    </p>
                    <p>GLBT National Help Center<br>
                        All Ages: <a href="tel:1-888-843-4564">1-888-843-4564</a><br>
                        Youth (under 25): <a href="tel:1-800-246-7743">1-800-246-PRIDE(7743)</a><br>
                        <a href="http://www.glbthotline.org" target="_blank">www.glbthotline.org</a>
                    </p>
                    <p>EGALE Canada<br>
                        <a href="tel:888-204-7777">888-204-7777</a><br>
                        <a href="http://www.egale.ca" target="_blank">www.egale.ca</a>
                    </p>
                    <p>Rainbow Health Ontario<br>
                        <a href="tel:416-324-4100">416-324-4100</a><br>
                        <a href="http://www.rainbowhealthontario.com" target="_blank">www.rainbowhealthontario.com</a>
                    </p>
                <br> <a class="close" onclick="closeAccord('#collapse2')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse3">
                    Support and Resource Websites</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
               
                    <p>Wikipedia: LGBT Portal<br>
                        <a href="https://en.wikipedia.org/wiki/Portal:LGBT" target="_blank">https://en.wikipedia.org/wiki/Portal:LGBT</a>
                    </p>
                    <p>The GSA Network<br>
                        <a href="http://www.gsanetwork.org" target="_blank">www.gsanetwork.org</a>
                    </p>
                    <p>MyGSA<br>
                        <a href="http://www.mygsa.ca" target="_blank">www.mygsa.ca</a>
                    </p>
                    <p>GSA Resources<br>
                        <a href="http://www.gsaresources.com" target="_blank">www.gsaresources.com</a>
                    </p>
                    <p>Teen Line<br>
                        Phone: <a href="tel:300-855-4673">300-855-4673</a><br>
                        Text: TEEN to <a href="tel:839863">839863</a><br>
                        <a href="http://www.teenlineonline.org" target="_blank">www.teenlineonline.org</a>
                    </p>
                    <p>It Gets Better Project<br>
                        <a href="http://www.itgetsbetter.org" target="_blank">www.itgetsbetter.org</a>
                    </p>
                    <p>LGBT Foundation<br>
                        <a href="http://lgbt.foundation" target="_blank">lgbt.foundation</a>
                    </p>
                    <p>GLAAD<br>
                        <a href="http://www.glaad.org" target="_blank">www.glaad.org</a>
                    </p>
                    <p>Empty Closets Online Community<br>
                        <a href="http://emptyclosets.com/" target="_blank">http://emptyclosets.com/</a>
                    </p>
                    <p>Empty Closets Online Community<br>
                        <a href="http://emptyclosets.com/" target="_blank">http://emptyclosets.com/</a>
                    </p>
                    <p>Centers For Disease Control and Prevention: LGBT Health<br>
                        <a href="http://www.cdc.gov/lgbthealth/" target="_blank">http://www.cdc.gov/lgbthealth/</a>
                    </p>
                    <p>Belong To<br>
                        <a href="http://www.belongto.org/" target="_blank">http://www.belongto.org/</a>
                    </p>
                    <p>LGBT Chat<br>
                        <a href="https://lgbtchat.net/" target="_blank">https://lgbtchat.net/</a>
                    </p>
                <br> <a class="close" onclick="closeAccord('#collapse3')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse4">
                    LGBT* Terms and Definitions</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <dl>
                    <dt>LGBT, LGBTQ, LGBTQA, TBLG</dt>
                    <dd>These acronyms refer to Lesbian, Gay, Bisexual, Transgender, Queer or Questioning,
                        and Asexual or Ally. Although all of the different identities within “LGBT” are often lumped together (and share
                        sexism as a common root of oppression), there are specific needs and concerns related to each individual identity.
                    </dd>
                    <dt>Advocate</dt>
                    <dd>A person who actively works to end intolerance, educate others, and support social equity for a group.</dd>
                    <dt>Agendered</dt>
                    <dd>Person is internally ungendered.</dd>
                    <dt>Asexual</dt>
                    <dd>A person who generally does not feel sexual attraction or desire to any group of people. Asexuality is not the same as celibacy.</dd>
                    <dt>Ally</dt>
                    <dd>A person who generally does not feel sexual attraction or desire to any group of people. Asexuality is not the same as celibacy.</dd>
                    <dt>Androgyny</dt>
                    <dd>(1) a gender expression that has elements of both masculinity and femininity; (2) occasionally used in place of “intersex” to describe a person with both female and male anatomy.</dd>
                    <dt>Androsexual/Androphilic</dt>
                    <dd>Attracted to males, men, and/or masculinity</dd>
                    <dt>Bigender</dt>
                    <dd>A person who fluctuates between traditionally “woman” and “man” gender-based behavior and identities, identifying with both genders (and sometimes a third gender).</dd>
                    <dt>Binary Gender</dt>
                    <dd>A traditional and outdated view of gender, limiting possibilities to “man” and “woman”.</dd>
                    <dt>Binary Sex</dt>
                    <dd>A traditional and outdated view of sex, limiting possibilities to “female” or “male”.</dd>
                    <dt>Biological sex</dt>
                    <dd>The physical anatomy and gendered hormones one is born with, generally described as male, female, or intersex, and often confused with gender BDSM: (Bondage, Discipline/Domination, Submission/Sadism, and Masochism ) The terms ‘submission/sadism’ and ‘masochism’ refer to deriving pleasure from inflicting or receiving pain, often in a sexual context. The terms ‘bondage’ and ‘domination’ refer to playing with various power roles, in both sexual and social context. These practices are often misunderstood as abusive, but when practiced in a safe, sane, and consensual manner can be a part of healthy sex life. (Sometimes referred to as ‘leather.’)</dd>
                    <dt>Bear</dt>
                    <dd>The most common definition of a ‘bear’ is a man who has facial/body hair, and a cuddly body. However, the word ‘bear’ means many things to different people, even within the bear movement. Many men who do not have one or all of these characteristics define themselves as bears, making the term a very loose one. ‘Bear’ is often defined as more of an attitude and a sense of comfort with natural masculinity and bodies.</dd>
                    <dt>Bicurious</dt>
                    <dd>A curiosity about having sexual relations with a same gender/sex person.</dd>
                    <dt>Bigendered</dt>
                    <dd>A person whose gender identity is a combination of male/man and female/woman.</dd>
                    <dt>Binding</dt>
                    <dd>The process of flattening one’s breasts to have a more masculine or flat appearing chest.</dd>
                    <dt>Biphobia</dt>
                    <dd>Aversion toward bisexuality and bisexual people as a social group or as individuals. People of any sexual orientation can experience such feelings of aversion. Biphobia is a source of discrimination against bisexuals, and may be based on negative bisexual stereotypes or irrational fear.</dd>
                    <dt>Bisexual</dt>
                    <dd>A person who is attracted to both people of their own gender and another gender. Also called “bi”.</dd>
                    <dt>Bottom</dt>
                    <dd>A person who is said to take a more submissive role during sexual interactions. Sometimes referred to as
                    ‘pasivo’ in Latin American cultures. Also known as ‘Catcher.’ (See also ‘Top’.)</dd>
                    <dt>Bottom Surgery</dt>
                    <dd>Surgery on the genitals designed to create a body in harmony with a person’s preferred gender expression.</dd>

                    <dt>Boydyke</dt><dd>A lesbian or bisexual woman, who chooses the &quot;dyke&quot; label to identify with that group&#39;s politics and
                    community, and also identifies as boyish or as a boy. It can be a transgender identity in which a person stands with
                    one foot in the &quot;boy&quot; world and one in the &quot;dyke&quot; world, or simply an adjective for someone who performs
                    butchness” in a certain way.</dd>

                    <dt>Butch</dt>
                    <dd>A person who identifies themselves as masculine, whether it be physically, mentally or emotionally.
                    ‘Butch’ is sometimes used as a derogatory term for lesbians, but it can also be claimed as an affirmative identity
                    label.</dd>

                    <dt>Catcher</dt>
                    <dd>See ‘Bottom.’ This term may be considered offensive by some people.</dd>

                    <dt>Cisgender</dt>
                    <dd>Types of gender identity where an individual&#39;s experience of their own gender matches the sex they
                    were assigned at birth.</dd>

                    <dt>Coming Out</dt><dd>The process of acknowledging one’s sexual orientation and/or gender identity to other people. For
                    most LGBT people this is a life-long process.</dd>

                    <dt>Closeted</dt><dd>a person who is keeping their sexuality or gender identity a secret from many (or any) people, and has
                    yet to “come out of the closet”</dd>

                    <dt>Cross-dressing</dt><dd>wearing clothing that conflicts with the traditional gender expression of your sex and gender
                    identity (e.g., a man wearing a dress) for any one of many reasons, including relaxation, fun, and sexual
                    gratification; often conflated with transsexuality</dd>

                    <dt>D&amp;D</dt>
                    <dd>An abbreviation for drug and disease free.</dd>

                    <dt>Discrimination</dt>
                    <dd>Prejudice + power. It occurs when members of a more powerful social group behave unjustly or
                    cruelly to members of a less powerful social group. Discrimination can take many forms, including both individual
                    acts of hatred or injustice and institutional denials of privileges normally accorded to other groups. Ongoing
                    discrimination creates a climate of oppression for the affected group.</dd>

                    <dt>Down Low</dt>
                    <dd>See ‘In the Closet.’ Also referred to as ‘D/L.’</dd>

                    <dt>Drag</dt>
                    <dd>The performance of one or multiple genders theatrically.</dd>

                    <dt>Drag King</dt>
                    <dd>a person who consciously performs “masculinity,” usually in a show or theatre setting, presenting an
                    exaggerated form of masculine expression, often times done by a woman; often confused with “transsexual” or
                    “transvestite”v

                    <dt>Drag Queen</dt>
                    <dd>a person who consciously performs “femininity,” usually in a show or theatre setting, presenting an
                    exaggerated form of feminine expression, often times done by a man; often confused with “transsexual” or
                    “transvestite”</dd>

                    <dt>Dyke</dt>
                    <dd>a derogatory slang term used for lesbian women; reclaimed by many lesbian women as a symbol of pride
                    and used as an in-group term</dd>

                    <dt>En femme</dt>
                    <dd>A heterosexual man when he is wearing women’s clothes.</dd>

                    <dt>En drab</dt>
                    <dd>A heterosexual man who likes to wear women’s clothes, when he is not wearing women’s clothes.</dd>

                    <dt>Fag</dt>
                    <dd>Derogatory term referring to someone perceived as non-heteronormative.</dd>

                    <dt>Fag Hag</dt>
                    <dd>A term primarily used to describe women who prefer the social company of gay men. While this term is
                    claimed in an affirmative manner by some, it is largely regarded as derogatory.</dd>

                    <dt>Faggot</dt>
                    <dd>a derogatory slang term used for gay men; reclaimed by many gay men as a symbol of pride and used as an
                    in-group term</dd>

                    <dt>Fluid(ity)</dt>
                    <dd>generally with another term attached, like gender-fluid or fluid-sexuality, fluid(ity) describes an identity
                    that is a fluctuating mix of the options available (e.g., man and woman, gay and straight); not to be confused with
                    “transitioning”</dd>

                    <dt>Family</dt>
                    <dd>Colloquial term used to identify other LGBTIQ community members. For example, an LGBTIQ person
                    saying, “that person is family” often means that the person they are referring to is LGBTIQ as well.</dd>

                    <dt>Family of choice (chosen family)</dt>
                    <dd>Persons or group of people an individual sees as significant in his or her life. It
                    may include none, all, or some members of his or her family of origin. In addition, it may include individuals such as
                    significant others, domestic partners, friends, and coworkers.</dd>

                    <dt>Femme</dt>
                    <dd>Feminine identified person of any gender/sex.</dd>

                    <dt>FTM/MTF</dt>
                    <dd>a person who has undergone medical treatments to change their biological sex (Female To Male,
                    or Male To Female), often times to align it with their gender identity; often confused with “trans-man”/”trans-
                    woman”</dd>

                    <dt>Gay</dt>
                    <dd>A person who is attracted primarily to members of the same sex. Although it can be used for any sex (e.g. gay
                    man, gay woman, gay person), “lesbian” is sometimes the preferred term for women who are attracted to women.</dd>

                    <dt>Gender Binary</dt>
                    <dd>The idea that there are only two genders</dt><dd>male/female or man/woman and that a person must
                    be strictly gendered as either/or. (See also ‘Identity Sphere.’)</dd>

                    <dt>Gender Confirming Surgery</dt>
                    <dd>Medical surgeries used to modify one’s body to be more congruent with one’s
                    gender identity. See “Sex Reassignment Surgery.”</dd>

                    <dt>Gender Cues</dt>
                    <dd>What human beings use to attempt to tell the gender/sex of another person. Examples include
                    hairstyle, gait, vocal inflection, body shape, facial hair, etc. Cues vary by culture.</dd>

                    <dt>Gender expression</dt>
                    <dd>A term which refers to the ways in which we each manifest masculinity or femininity. It is
                    usually an extension of our “gender identity,” our innate sense of being male, female, etc. Each of us expresses a
                    particular gender every day by the way we style our hair, select our clothing, or even the way we stand. Our
                    appearance, speech, behavior, movement, and other factors signal that we feel and wish to be understood as
                    masculine or feminine, or as a man or a woman.</dd>

                    <dt>Gender identity</dt>
                    <dd>The sense of “being” male, female, genderqueer, agender, etc. For some people, gender identity
                    is in accord with physical anatomy. For transgender people, gender identity may differ from physical anatomy or
                    expected social roles. It is important to note that gender identity, biological sex, and sexual orientation are
                    separate and that you cannot assume how someone identifies in one category based on how they identify in
                    another category.</dd>

                    <dt>Genderless</dt>
                    <dd>a person who does not identify with any </dd>

                    <dt>Genderqueer</dt>
                    <dd>A term which refers to individuals or groups who “queer” or problematize the hegemonic notions of
                    sex, gender and desire in a given society. Genderqueer people possess identities which fall outside of the widely
                    accepted sexual binary (i.e. &quot;men&quot; and &quot;women&quot;). Genderqueer may also refer to people who identify as both transgendered AND queer, i.e. individuals who challenge both gender and sexuality regimes and see gender
                    identity and sexual orientation as overlapping and interconnected.</dd>

                    <dt>Gender Normative</dt>
                    <dd>A person who by nature or by choice conforms to gender
                    based expectations of society. (Also referred to as ‘Genderstraight’.)</dd>

                    <dt>Gender Oppression</dt>
                    <dd>The societal, institutional, and individual beliefs and
                    practices that privilege cisgender (gender-typical people) and subordinate and
                    disparage transgender or gender variant people. Also known as “genderism.”</dd>

                    <dt>Gender Reassignment Surgery (GRS)/Gender Confirmation Surgery/Sex Reassignment Surgery (SRS)</dt>
                    <dd>Surgery to
                    make a person’s outward physical appearance conform more closely with their gender identity.  Not all
                    transsexuals feel the need to have surgery; however, the surgery is required in all states in order to change the sex
                    on one’s birth certificate, driver’s license or passport, etc.  Such surgery is also often necessary to “pass” in society
                    and avoid daily harassment.</dd>

                    <dt>Gender Variant</dt>
                    <dd>A person who either by nature or by choice does not conform to gender-based expectations of
                    society (e.g. transgender, transsexual, intersex, genderqueer, cross-dresser, etc.).</dd>

                    <dt>Genderism</dt>
                    <dd>see “Gender Oppression.”</dd>

                    <dt>Genderfuck</dt>
                    <dd>The idea of playing with ‘gender cues’ to purposely confuse “standard” or stereotypical gender
                    expressions, usually through clothing.</dd>

                    <dt>Gender-neutral</dt>
                    <dd>Nondiscriminatory language usage that can apply equal to people of any gender identity.
                    “Spouse” and “partner” are gender-neutral alternatives to the gender-specific words “husband,” “wife,”
                    “boyfriend” and “girlfriend.”  The use of the gender-neutral pronouns “ze” (instead of she/he) and “hir” (instead of
                    his/her) are preferred by some as a way to inclusive of all genders in language use.</dd>

                    <dt>Gender Roles</dt>
                    <dd>Socially constructed and culturally specific behaviors and appearance expectations imposed on
                    men and women.</dd>

                    <dt>Gynesexual/Gynephilic</dt>
                    <dd>attracted to females, women, and/or femininity</dd>

                    <dt>Heterosexual</dt>
                    <dd>A person who is only attracted to members of the opposite sex. Also called “straight.&quot;</dd>

                    <dt>Heteronormativity</dt>
                    <dd>The assumption, in individuals or in institutions, that everyone is heterosexual, and that
                    heterosexuality is superior to homosexuality and bisexuality.</dd>

                    <dt>Heterosexism</dt>
                    <dd>Prejudice against individuals and groups who display non-heterosexual behaviors or identities,
                    combined with the majority power to impose such prejudice. Usually used to the advantage of the group in power.
                    Any attitude, action, or practice-backed by institutional power-that subordinates people because of their sexual
                    orientation</dd>

                    <dt>Heterosexual Privilege</dt>
                    <dd>Those benefits derived automatically by being heterosexual that are denied to
                    homosexuals and bisexuals. Also, the benefits homosexuals and bisexuals receive as a result of claiming
                    heterosexual identity or denying homosexual or bisexual identity.</dd>

                    <dt>HIV-phobia</dt>
                    <dd>The irrational fear or hatred of persons living with HIV/AIDS.</dd>

                    <dt>Hermaphrodite</dt>
                    <dd> an outdated medical term used to describe someone who is intersex; not used today as it is
                    considered to be medically stigmatizing, and also misleading as it means a person who is 100% male and female, a
                    biological impossibility for humans</dd>

                    <dt>Heterosexism</dt>
                    <dd>behavior that grants preferential treatment to heterosexual people, reinforces the idea that
                    heterosexuality is somehow better or more “right” than queerness, or ignores/doesn’t address queerness as
                    existing</dd>

                    <dt>Homophobia</dt>
                    <dd>A range of negative attitudes and feelings toward homosexuality or people who are identified or
                    perceived as being lesbian, gay, bisexual or transgender (LGBT). It can be expressed as antipathy, contempt,
                    prejudice, aversion, or hatred, may be based on irrational fear, and is sometimes related to religious beliefs.</dd>

                    <dt>Homosexual</dt>
                    <dd>A clinical term for people who are attracted to members of the same sex. Some people find this term
                    offensive.</dd>

                    <dt>Hypersex(ual/-ity)</dt>
                    <dd> a sexual attraction with intensity bordering on insatiability or addiction; recently dismissed as a
                    non-medical condition by the American Psychiatric Association when it was proposed to be included in the
                    Diagnostic and Statistical Manual of Mental Disorders version 5.</dd>

                    <dt>Intersex</dt>
                    <dd>A person whose sexual anatomy or chromosomes do not fit with the traditional markers of &quot;female&quot; and
                    &quot;male.&quot; For example: people born with both &quot;female&quot; and &quot;male&quot; anatomy (penis, testicles, vagina, uterus); people
                    born with XXY. </dd>

                    <dt>Identity Sphere</dt>
                    <dd>The idea that gender identities and expressions do not fit on a linear scale, but rather on a
                    sphere that allows room for all expression without weighting any one expression as better than another.</dd>

                    <dt>In the Closet</dt>
                    <dd>Refers to a homosexual, bisexual, transperson or intersex person who will not or cannot disclose
                    their sex, sexuality, sexual orientation or gender identity to their friends, family, co-workers, or society. An intersex
                    person may be closeted due to ignorance about their status since standard medical practice is to “correct,”
                    whenever possible, intersex conditions early in childhood and to hide the medical history from the patient. There
                    are varying degrees of being “in the closet”; for example, a person can be out in their social life, but in the closet at
                    work, or with their family. Also known as ‘Downlow” or ‘D/L.’</dd>

                    <dt>Intergender</dt>
                    <dd>A person whose gender identity is between genders or a combination of genders.</dd>

                    <dt>Institutional Oppression</dt>
                    <dd>Arrangements of a society used to benefit one group at the expense of another through
                    the use of language, media, education, religion, economics, etc.</dd>

                    <dt>Internalized Oppression</dt>
                    <dd>The process by which a member of an oppressed group comes to accept and live out the
                    inaccurate stereotypes applied to the oppressed group.</dd>

                    <dt>Internalized Homophobia</dt>
                    <dd>Experience of shame, aversion, or self-hatred in reaction to one’s own feelings of
                    attraction for a person of the same sex.</dd>

                    <dt>Inclusive Language</dt>
                    <dd>Use of gender non-specific language to avoid imposing the limiting assumption of
                    heterosexuality and to present an open social climate for non-heterosexuals.</dd>

                    <dt>Lesbian</dt>
                    <dd>Term used to describe female-identified people attracted romantically, erotically, and/or emotionally to
                    other female-identified people. The term lesbian is derived from the name of the Greek island of Lesbos and as
                    such is sometimes considered a Eurocentric category that does not necessarily represent the identities of African-
                    Americans and other non-European ethnic groups. This being said, individual female-identified people from diverse
                    ethnic groups, including African-Americans, embrace the term ‘lesbian’ as an identity</dd>

                    <dt>Label Queer</dt>
                    <dd>
                        <ol>
                            <li>An umbrella term sometimes used by LGBTQA people to refer to the entire LGBT community.</li>
                            <li>An alternative that some people use to &quot;queer&quot; the idea of the labels and categories such as lesbian, gay, bisexual,
                    etc. Similar to the concept of genderqueer. It is important to note that the word queer is an in-group term, and a
                    word that can be considered offensive to some people, depending on their generation, geographic location, and
                    relationship with the word. </li>
                            </ol>
                    </dd>

                    <dt>Lesbian Baiting</dt>
                    <dd>The heterosexist notion that any woman who prefers the company of woman, or who does not
                    have a male partner, is a lesbian.</dd>

                    <dt>LGBTQI</dt>
                    <dd>A common abbreviation for lesbian, gay, bisexual, transgender, queer and intersexed community.</dd>

                    <dt>Lipstick Lesbian</dt>
                    <dd>Usually refers to a lesbian with a feminine gender expression. Can be used in a positive or a
                    derogatory way, depending on who is using it. Is sometimes also used to refer to a lesbian who is seen as
                    automatically passing for heterosexual.</dd>

                    <dt>Male Lesbian</dt>
                    <dd>A male-bodied person who identifies as a lesbian. This differs from a heterosexual male in that a
                    male lesbian is primarily attracted to other lesbian, bisexual or queer identified people. May sometimes identify as
                    gender variant, or as a female/woman. (See ‘Lesbian.’)</dd>

                    <dt>Metrosexual</dt>
                    <dd>First used in 1994 by British journalist Mark Simpson, who coined the term to refer to an urban,
                    heterosexual male with a strong aesthetic sense who spends a great deal of time and money on his appearance
                    and lifestyle. This term can be perceived as derogatory because it reinforces stereotypes that all gay men are
                    fashion-conscious and materialistic.</dd>

                    <dt>Oppression</dt>
                    <dd>The systematic subjugation of a group of people by another group with access to social power, the
                    result of which benefits one group over the other and is maintained by social beliefs and practices.</dd>

                    <dt>Outing</dt><dd>Involuntary disclosure of one’s sexual orientation, gender identity, or intersex status.

                    <dt>Packing</dt>
                    <dd>Wearing a phallic device on the groin and under clothing for any purposes including: (for someone
                    without a biological penis) the validation or confirmation of one’s masculine gender identity; seduction; and/or
                    sexual readiness (for one who likes to penetrate another during sexual intercourse).</dd>

                    <dt>Pangendered</dt>
                    <dd>A person whose gender identity is comprised of all or many gender expressions.</dd>

                    <dt>Pansexual</dt>
                    <dd>A person who experiences sexual, romantic, physical, and/or spiritual attraction for members of all
                    gender identities/expressions, not just people who fit into the standard gender binary (i.e. men and women). </dd>

                    <dt>Partner</dt>
                    <dd>Primary domestic partner or spousal relationship among same gender couples.</dd>

                    <dt>Passing</dt>
                    <dd>Describes a person&#39;s ability to be accepted as their preferred gender/sex or race/ethnic identity or to be
                    seen as heterosexual.</dd>

                    <dt>Pitcher</dt>
                    <dd>See ‘Top.’ This term may be offensive to some people.</dd>

                    <dt>Polyamory</dt>
                    <dd>Refers to having honest, usually non-possessive, relationships with multiple partners and can include:
                    open relationships, polyfidelity (which involves multiple romantic relationships with sexual contact restricted to
                    those), and subrelationships (which denote distinguishing between a ‘primary&quot; relationship or
                    relationships and various &quot;secondary&quot; relationships).</dd>

                    <dt>Prejudice</dt>
                    <dd>A conscious or unconscious negative belief about a whole group of people and its individual members.</dd>

                    <dt>Questioning</dt>
                    <dd>For some, the process of exploring and discovering one&#39;s own sexual orientation, gender identity, or
                    gender expression.</dd>

                    <dt>Queer</dt>
                    <dd>
                        <ol>
                            <li>An umbrella term which embraces a matrix of sexual preferences, orientations, and habits of the not-
                    exclusively- heterosexual-and- monogamous majority. Queer includes lesbians, gay men, bisexuals, transpeople,
                    intersex persons, the radical sex communities, and many other sexually transgressive (underworld) explorers.</li>

                    <li>This term is sometimes used as a sexual orientation label instead of ‘bisexual’ as a way of acknowledging that
                    there are more than two genders to be attracted to, or as a way of stating a non-heterosexual orientation without
                    having to state who they are attracted to.</li>

                    <li>A reclaimed word that was formerly used solely as a slur but that has been semantically overturned by members
                    of the maligned group, who use it as a term of defiant pride. ‘Queer’ is an example of a word undergoing this
                    process. For decades ‘queer’ was used solely as a derogatory adjective for gays and lesbians, but in the 1980s the
                    term began to be used by gay and lesbian activists as a term of self-identification. Eventually, it came to be used as
                    an umbrella term that included gay men, lesbians, bisexuals, and transgendered people. Nevertheless, a sizable
                    percentage of people to whom this term might apply still hold ‘queer’ to be a hateful insult, and its use by
                    heterosexuals is often considered offensive. Similarly, other reclaimed words are usually offensive to the in-group
                    when used by outsiders, so extreme caution must be taken concerning their use when one is not a member of the
                    group.</li>
                        </ol>
                    </dd>

                    <dt>Real Life Test (RLT)</dt>
                    <dd>The generally required period of time during which a transsexual lives in the “target” gender
                    (the gender the transsexual knows himself/herself to be) before undergoing surgery.</dd>

                    <dt>Same Gender Loving (SGL)</dt>
                    <dd> a phrase coined by the African American/Black queer communities used as an
                    alternative for “gay” and “lesbian” by people who may see those as terms of the White queer community

                    <dt>Sex</dt>
                    <dd>A medical term designating a certain combination of gonads, chromosomes, external gender organs,
                    secondary sex characteristics and hormonal balances. Because usually subdivided into ‘male’ and ‘female’, this
                    category does not recognize the existence of intersexed bodies.</dd>

                    <dt>Sex Identity</dt>
                    <dd>How a person identifies physically: female, male, in between, beyond, or neither.</dd>

                    <dt>Sexual Orientation</dt>
                    <dd>The type of sexual, romantic, and/or physical attraction someone feels toward others. Often
                    labeled based on the gender identity/expression of the person and who they are attracted to. Common labels:
                    lesbian, gay, bisexual, pansexual, etc.</dd>

                    <dt>Sexual Preference</dt><dd> 
                        <ol>
                            <li>Generally when this term is used, it is being mistakenly interchanged with “sexual
                    orientation,” creating an illusion that one has a choice (or “preference”) in who they are attracted to;</li>

                            <li>The types of sexual intercourse, stimulation, and gratification one likes to receive and participate in</li>
                        </ol>
                    </dd>

                    <dt>Skoliosexual</dt>
                    <dd>attracted to genderqueer and transsexual people and expressions (people who aren’t identified as
                    cisgender)</dd>

                    <dt>Straight</dt>
                    <dd>a man or woman who is attracted to people of the other binary gender than themselves; often referred to
                    as “heterosexual”</dd>

                    <dt>Sexual Reassignment Surgery (SRS)</dt>
                    <dd>A term used by some medical professionals to refer to a group of surgical
                    options that alter a person’s “sex”. In most states, one or multiple surgeries are required to achieve legal
                    recognition of gender variance. Also known as “Gender Confirming Surgery.”</dd>

                    <dt>Sexuality</dt>
                    <dd>A person’s exploration of sexual acts, sexual orientation, sexual pleasure, and desire.</dd>

                    <dt>Stealth</dt>
                    <dd>This term refers to when a person chooses to be secretive in the public sphere about their gender
                    history, either after transitioning or while successful passing. (Also referred to as ‘going stealth’ or ‘living in stealth
                    mode’.)</dd>

                    <dt>Stem</dt>
                    <dd>A person whose gender expression falls somewhere between a stud and a femme. (See also ‘Femme’ and
                    ‘Stud’.)</dd>

                    <dt>Stereotype</dt>
                    <dd>A preconceived or oversimplified generalization about an entire group of people without regard for
                    their individual differences. Though often negative, can also be complimentary. Even positive stereotypes can have
                    a negative impact, however, simply because they involve broad generalizations that ignore individual realities.</dd>

                    <dt>Stone Butch / Femme</dt>
                    <dd>A person who may or may not desire sexual penetration and/or contact with the genitals
                    or breasts. (See also ‘Butch’ and ‘Femme’).</dd>

                    <dt>Straight-Acting</dt><dd>A term usually applied to gay men who readily pass as heterosexual. The term implies that there
                    is a certain way that gay men should act that is significantly different from heterosexual men. Straight-acting gay
                    men are often looked down upon in the LGBTQ community for seemingly accessing heterosexual privilege.</dd>

                    <dt>Stud</dt>
                    <dd>An African-American and/or Latina masculine lesbian. Also known as ‘butch’ or ‘aggressive’.</dd>

                    <dt>Switch</dt>
                    <dd>A person who is both a ‘Top’ and a ‘Bottom’, there may or may not be a preference for one or the other.</dd>

                    <dt>Top</dt>
                    <dd>A person who is said to take a more dominant role during sexual interactions. May also be known as
                    ‘Pitcher.’</dd>

                    <dt>Top Surgery</dt>
                    <dd>This term usually refers to surgery for the construction of a maletype chest, but may also refer to
                    breast augmentation.</dd>

                    <dt>Trans</dt>
                    <dd>An abbreviation that is sometimes used to refer to a gender variant person. This use allows a person to
                    state a gender variant identity without having to disclose hormonal or surgical status/intentions. This term is
                    sometimes used to refer to the gender variant community as a whole.</dd>

                    <dt>Transactivism</dt>
                    <dd>The political and social movement to create equality for gender variant persons.</dd>

                    <dt>Third Gender</dt>
                    <dd> 
                        <ol>
                            <li>a person who does not identify with the traditional genders of “man” or “woman,” but identifies
                    with another gender;</li>
                            <li>the gender category available in societies that recognize three or more genders</li>
                        </ol>
                    </dd>

                    <dt>Transgender</dt>
                    <dd>This term has many definitions. It is frequently used as an umbrella term to refer to all people who
                    do not identify with their assigned gender at birth or the binary gender system. This includes transsexuals, cross-
                    dressers, genderqueer, drag kings, drag queens, two-spirit people, and others. Some transgender people feel they
                    exist not within one of the two standard gender categories, but rather somewhere between, beyond, or outside of
                    those two genders.</dd>

                    <dt>Transphobia</dt>
                    <dd>The fear or hatred of transgender people or gender non-conforming behavior. Like biphobia,
                    transphobia can also exist among lesbian, gay, and bisexual people as well as among heterosexual people.</dd>

                    <dt>Transsexual</dt>
                    <dd>A person whose gender identity is different from their biological sex, who may undergo medical
                    treatments to change their biological sex, often times to align it with their gender identity, or they may live their
                    lives as another sex. </dd>

                    <dt>Transvestite</dt>
                    <dd>a person who dresses as the binary opposite gender expression (“cross-dresses”) for any one of
                    many reasons, including relaxation, fun, and sexual gratification; often called a “cross-dresser,” and often confused
                    with “transsexual”</dd>

                    <dt>Two-Spirit</dt>
                    <dd>a term traditionally used by Native American people to recognize individuals who possess qualities or
                    fulfill roles of both genders</dd>

                    <dt>Transgendered (Trans) Community</dt>
                    <dd>A loose category of people who transcend gender norms in a wide variety of
                    ways. The central ethic of this community is unconditional acceptance of individual exercise of freedoms including
                    gender and sexual identity and orientation.</dd>

                    <dt>Transhate</dt>
                    <dd>The irrational hatred of those who are gender variant, usually expressed through violent and often
                    deadly means.</dd>

                    <dt>Tranny Chaser</dt>
                    <dd>A term primarily used to describe people who prefer or actively seek transpeople for sexual or
                    romantic relations. While this term is claimed in an affirmative manner by some, it is largely regarded as
                    derogatory.</dd>

                    <dt>Transition</dt>
                    <dd>This term is primarily used to refer to the process a gender variant person undergoes when changing
                    their bodily appearance either to be more congruent with the gender/sex they feel themselves to be and/or to be
                    in harmony with their preferred gender expression.</dd>

                    <dt>Ze / Hir</dt><dd>Alternate pronouns that are gender neutral and preferred by some gender variant persons. Pronounced
                    /zee/ and /here,/ they replace “he”/”she” and “his”/”hers” respectively.</dd>

                </dl>



                <p><strong>Source Websites</strong></p>

                <p>
                    <a href="http://internationalspectrum.umich.edu/life/definitions" target="_blank">http://internationalspectrum.umich.edu/life/definitions</a><br>
                    <a href="http://www.lgbt.ucla.edu/documents/LGBTTerminology.pdf" target="_blank">http://www.lgbt.ucla.edu/documents/LGBTTerminology.pdf</a><br>
                    <a href="http://itspronouncedmetrosexual.com/2013/01/a-comprehensive-list-of-lgbtq-term-definitions/" target="_blank">http://itspronouncedmetrosexual.com/2013/01/a-comprehensive-list-of-lgbtq-term-definitions/</a><br>
                    <a href="http://www.algbtical.org/2A%20GLOSSARY.htm" target="_blank">http://www.algbtical.org/2A%20GLOSSARY.htm</a><br>
                    <a href="http://web.jhu.edu/LGBTQ/glossary.html" target="_blank">http://web.jhu.edu/LGBTQ/glossary.html</a>
                </p>










                <br> <a class="close" onclick="closeAccord('#collapse4')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder" >
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse5">
                    LGBT* -Related Books</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse5')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse6">
                    LGBT* -Related Movies</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse6')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse7">
                    LGBT* -Related TV Shows</a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse7')">[×]</a>
            </div>

        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse8">
                    College GSA -FAQs</a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse8')">[×]</a>
            </div>
        </div>
    </div>
</div>
