<h1>External Resources</h1>

<div>Local LGBT* Organizations </div>
<div>Support Numbers</div>
<div>Support and Resource Websites </div>
<div>LGBT* Terms and Definitions</div>
<div>LGBT* -Related Books </div>
<div>LGBT* -Related Movies</div>
<div>LGBT* -Related TV Shows</div>
<div>College GSA -FAQs</div>