<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>External Resources</h1>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse1">
                    Local LGBT* Organizations</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>
                    Windsor Pride <br>
                    <a href="tel:519-973-4696">519-973-4696</a> <br>
                    <a href="http://www.windsorpride.com">www.windsorpride.com</a>
                </p>

                <p>
                    Windsor Pride Fest <br>
                    <a href="http://www.wepridefest.com">www.wepridefest.com</a>
                </p>

                <p>
                    Run for Rocky <br>
                    <a href="http://www.runforrocky.com">www.runforrocky.com</a>
                </p>

                <p>
                    Aids Committee of Windsor <br>
                    <a href="tel:519-973-0222">519-973-0222</a>
                </p>

                <p>
                    The University of Windsor’s Get REAL <br>
                    <a href="https://www.facebook.com/wegetreal">https://www.facebook.com/wegetreal</a> <br>
                    <a href="http://www.thegetrealmovement.com">www.thegetrealmovement.com</a>
                </p>

                <p>
                    The University of Windsor’s Out On Campus <br>
                    <a href="tel:519-253-3000">519-253-3000</a> ext.4093 <br>
                    <a href="mailto:ooc@uwindsor.ca">ooc@uwindsor.ca</a>
                </p>

                <p>
                    Windsor-Essex County Health Unit <br>
                    <a href="tel:519-258-2146">519-258-2146</a> <br>
                    <a href="http://www.wechc.org">www.wechc.org</a>
                </p>

                <p>
                    Teen Health Centre <br>
                    <a href="tel:519-253-8481">519-253-8481</a> <br>
                    <a href="http://www.wechc.org/teenhealth_home">www.wechc.org/teenhealth_home</a>
                </p>

                <p>
                    Windsor Youth Centre <br>
                    <a href="tel:226-674-0006">226-674-0006</a> <br>
                    <a href="http://www.thewindsoryouthcentre.org/">http://www.thewindsoryouthcentre.org/</a>
                </p>

                <p>
                    Family Service Windsor-Essex <br>
                    <a href="tel:519-966-5010">519-966-5010</a> <br>
                    <a href="http://www.fswe.ca">www.fswe.ca</a>
                </p>

                <p>
                    SAFE Windsor <br>
                    <a href="tel:519-253-8481">519-253-8481</a> ext. 248 <br>
                    <a href="http://www.safewindsor.com">www.safewindsor.com</a>
                </p>

                <p>
                    Metropolitan Community Church <br>
                    <a href="tel:519-977-6897">519-977-6897</a> <br>
                    <a href="http://www.mccwindsor.org">www.mccwindsor.org</a>
                </p>

                <p>
                    Windsor Family Health Team <br>
                    <a href="tel:519-250-5656">519-250-5656</a> <br>
                    <a href="http://www.windsorfht.ca">www.windsorfht.ca</a>
                </p>

               <p>
                   Windsor Regional Hospital <br>
                   <a href="tel:519-254-5577">519-254-5577</a> <br>
                   <a href="http://www.wrh.on.ca">www.wrh.on.ca</a>
               </p>
                <br> <a class="close" onclick="closeAccord('#collapse1')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse2">
                    Support Numbers</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse2')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse3">
                    Support and Resource Websites</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse3')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse4">
                    LGBT* Terms and Definitions</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <dl>
                    <dt>LGBT, LGBTQ, LGBTQA, TBLG</dt>
                    <dd>These acronyms refer to Lesbian, Gay, Bisexual, Transgender, Queer or Questioning,
                        and Asexual or Ally. Although all of the different identities within “LGBT” are often lumped together (and share
                        sexism as a common root of oppression), there are specific needs and concerns related to each individual identity.
                    </dd>
                    <dt>Advocate</dt>
                    <dd>A person who actively works to end intolerance, educate others, and support social equity for a group.</dd>
                    <dt>Agendered</dt>
                    <dd>Person is internally ungendered.</dd>
                    <dt>Asexual</dt>
                    <dd>A person who generally does not feel sexual attraction or desire to any group of people. Asexuality is not the same as celibacy.</dd>
                    <dt>Ally</dt>
                    <dd>A person who generally does not feel sexual attraction or desire to any group of people. Asexuality is not the same as celibacy.</dd>
                    <dt>Androgyny</dt>
                    <dd>(1) a gender expression that has elements of both masculinity and femininity; (2) occasionally used in place of “intersex” to describe a person with both female and male anatomy.</dd>
                    <dt>Androsexual/Androphilic</dt>
                    <dd>Attracted to males, men, and/or masculinity</dd>
                    <dt>Bigender</dt>
                    <dd>A person who fluctuates between traditionally “woman” and “man” gender-based behavior and identities, identifying with both genders (and sometimes a third gender).</dd>
                    <dt>Binary Gender</dt>
                    <dd>A traditional and outdated view of gender, limiting possibilities to “man” and “woman”.</dd>
                    <dt>Binary Sex</dt>
                    <dd>A traditional and outdated view of sex, limiting possibilities to “female” or “male”.</dd>
                    <dt>Biological sex</dt>
                    <dd>The physical anatomy and gendered hormones one is born with, generally described as male, female, or intersex, and often confused with gender BDSM: (Bondage, Discipline/Domination, Submission/Sadism, and Masochism ) The terms ‘submission/sadism’ and ‘masochism’ refer to deriving pleasure from inflicting or receiving pain, often in a sexual context. The terms ‘bondage’ and ‘domination’ refer to playing with various power roles, in both sexual and social context. These practices are often misunderstood as abusive, but when practiced in a safe, sane, and consensual manner can be a part of healthy sex life. (Sometimes referred to as ‘leather.’)</dd>
                    <dt>Bear</dt>
                    <dd>The most common definition of a ‘bear’ is a man who has facial/body hair, and a cuddly body. However, the word ‘bear’ means many things to different people, even within the bear movement. Many men who do not have one or all of these characteristics define themselves as bears, making the term a very loose one. ‘Bear’ is often defined as more of an attitude and a sense of comfort with natural masculinity and bodies.</dd>
                    <dt>Bicurious</dt>
                    <dd>A curiosity about having sexual relations with a same gender/sex person.</dd>
                    <dt>Bigendered</dt>
                    <dd>A person whose gender identity is a combination of male/man and female/woman.</dd>
                    <dt>Binding</dt>
                    <dd>The process of flattening one’s breasts to have a more masculine or flat appearing chest.</dd>
                    <dt>Biphobia</dt>
                    <dd>Aversion toward bisexuality and bisexual people as a social group or as individuals. People of any sexual orientation can experience such feelings of aversion. Biphobia is a source of discrimination against bisexuals, and may be based on negative bisexual stereotypes or irrational fear.</dd>
                    <dt>Bisexual</dt>
                    <dd>A person who is attracted to both people of their own gender and another gender. Also called “bi”.</dd>
                    
                </dl>

                <br> <a class="close" onclick="closeAccord('#collapse4')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder" >
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse5">
                    LGBT* -Related Books</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse5')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse6">
                    LGBT* -Related Movies</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse6')">[×]</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse7">
                    LGBT* -Related TV Shows</a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse7')">[×]</a>
            </div>

        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
            <h4 class="panel-title">
                <a class="accordion-toggle" href="#collapse8">
                    College GSA -FAQs</a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                <br> <a class="close" onclick="closeAccord('#collapse8')">[×]</a>
            </div>
        </div>
    </div>
</div>
