$mainColor: #0058ba;
$secColor: #ffb1f0;
$bodyBG: #F1F0FF;
$linkCol: #8C489F;

// colours

/*$mainColor: #443266;
$secColor: #C3C3E5;
$bodyBG: #F1F0FF;
$linkCol: #8C489F;*/


/*#0058ba
#ffb1f0
#ff75cf
#7defff
#edcdff*/


body {
  background-color: $bodyBG;
}

html, body {
  height: 100%;
}

.wrap {
  padding-bottom: 100px;
  min-height:100%;
  position:relative;
  overflow:auto;
}

.darkBorder {
  border: solid $mainColor 1px;
}

button {
  background-color: $mainColor;
  color: $bodyBG;
  border: solid 1px $secColor;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}


.special {
  margin: 2% 0 2%;
  padding: 2%;
  background-color: $linkCol;
  color: $secColor;
  border-radius: 25px;

  a:link {
    color: $bodyBG;
    font-weight: bold;
  }

  /* visited link */
  a:visited {
    color: $bodyBG;
    font-weight: bold;
  }

  /* mouse over link */
  a:hover {
    color: $bodyBG;
    font-weight: bold;
  }

  /* selected link */
  a:active {
    color: $bodyBG;
    font-weight: bold;
  }
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: $mainColor;
  border-bottom: solid 3px $secColor;
  /* unvisited link */
  a:link {
    color: $bodyBG;
    font-weight: bold;
  }

  /* visited link */
  a:visited {
    color: $bodyBG;
    font-weight: bold;
  }

  /* mouse over link */
  a:hover {
    color: $bodyBG;
    font-weight: bold;
  }

  /* selected link */
  a:active {
    color: $bodyBG;
    font-weight: bold;
  }
}

img.midAlign {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.topTitle {
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
}

header {
  width: 100%;
}



footer {
  background-color: $secColor;
  padding: 1.5% 0 .5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}






#innerFoot {
  padding: .5% 0;
  background-color: $mainColor;
  text-align: center;
  color: #ffffff;
  /* unvisited link */
  a:link {
    color: $bodyBG;
    font-weight: bold;
  }

  /* visited link */
  a:visited {
    color: $bodyBG;
    font-weight: bold;
  }

  /* mouse over link */
  a:hover {
    color: $bodyBG;
    font-weight: bold;
  }

  /* selected link */
  a:active {
    color: $bodyBG;
    font-weight: bold;
  }
}

nav {
  margin-left: 35%;
}

.quotes {
  margin: 2% 0 2%;
  background-color: $secColor;
  border-radius: 25px;
  padding: 5%;
  border: solid 1px $linkCol;
}



.icons {
  /* unvisited link */
  a:link {
    color: $bodyBG;
    font-weight: bold;
  }

  /* visited link */
  a:visited {
    color: $bodyBG;
    font-weight: bold;
  }

  /* mouse over link */
  a:hover {
    color: $bodyBG;
    font-weight: bold;
  }

  /* selected link */
  a:active {
    color: $bodyBG;
    font-weight: bold;
  }
}

.editable {
  //height: 500px;
}

.blog-bg {
  background-color: $bodyBG;
}


/* unvisited link */
a:link {
  color: $linkCol;
  font-weight: bold;
}

/* visited link */
a:visited {
  @extend a:link;
}

/* mouse over link */
a:hover {
  @extend a:link;
}

/* selected link */
a:active {
  @extend a:link;
}



// Back to top

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 70px; //40px
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $mainColor url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 1;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  z-index: 1;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
  z-index: 1;
}
.no-touch .cd-top:hover {
  background-color: $linkCol;
  opacity: 1;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 70px; //20px
    z-index: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 80px; //30px
    z-index: 1;
  }
}